.bg-navbar{
    background-color: ;
}



#searchNav {
    background-color: white;
    background-image: url('/img/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
    width: 50px;
}

#searchNav:focus{
    width: 230px;
}

.dropdown-avatar {
    left: -150% !important;
    width: 200px !important;
}
