/* navbar */
.bg-red{
    background-image: linear-gradient(#C4170c, #830303);
}

.nav-right{
    position: absolute;
    right: 30px;
}

#searchNav {
    background-color: white;
    background-image: url('/img/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
    width: 50px;
}

#searchNav:focus{
    width: 230px;
}

.dropdown-avatar {
    left: -260% !important;
    width: 200px !important;
}

/* Home - Carousel */
.carousel{
    width: 920px;
}

.bg-carousel{
    height: 380px !important;
    width: 10px !important;
    background-color: #830303 !important;
}

.carousel-control-prev{
    left: -90px !important;
}

.carousel-control-next{
    right: -90px !important;
}

a{
    text-decoration: none;
    color: inherit;
}
